{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans 'Catalog' %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
    <style>

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background-color: #343a40; /* Цвет фона */
        }

        body {
            margin: 0;
        }

        .card img {
            object-fit: cover;
            height: 300px; 
        }
        @media (max-width: 768px) {
            .card img {
                height: 200px;
            }
            .card-body h5 {
                font-size: 1.1rem; 
            }
            .card-body p {
                font-size: 0.9rem; 
            }
        }
    </style>
</head>
<body>

{% include "catalog/navbar.html" %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{% trans 'Catalog' %}</h1>
        <div class="row">
            {% for object in page_obj %}
                <div class="col-12 col-sm-6 col-md-4 mb-4"> 
                    <div class="card h-100">
                        {% if object.image %}
                            <img class="card-img-top" src="{{ object.image.url }}" alt="{% trans 'Product Image' %}">
                        {% else %}
                            <img class="card-img-top" src="{% static 'catalog/img/photo_2024-04-04_14-55-47.jpg' %}" alt="{% trans 'Default Product Image' %}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ object.name }}</h5>
                            <p class="card-text">{{ object.description }}</p>
                            <a href="{% url 'catalog:product_detail' pk=object.pk slug=object.slug %}" class="btn btn-primary stretched-link">{% trans 'More details' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="{% trans 'Previous' %}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">{% trans 'Previous' %}</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ num }} <span class="visually-hidden">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{% if query_string %}{{ query_string }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if query_string %}{{ query_string }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="{% trans 'Next' %}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">{% trans 'Next' %}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-0tXqKrZTzK6DwnZQw4K1o+qF8p43Rtjs6f1U8rH2CFOfJ7abXKMJk0XpO9yyhUfw" crossorigin="anonymous"></script>
{% block script %}
<script>
    function updateBodyPadding() {
        var navbarHeight = document.querySelector('.navbar').offsetHeight;
        document.body.style.paddingTop = navbarHeight + 'px';
    }
    window.addEventListener('load', updateBodyPadding);
    window.addEventListener('resize', updateBodyPadding);
</script>
{% endblock script %}
</body>
</html>



        




